:root {
  --cell-size: 130px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: antiquewhite;
}

.container-game {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gameboard {
  display: grid;
  gap: 2px;
  border: 1px solid #000;
}

.score-board {
  font-size: 40px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hit-counter,
.miss-counter {
  display: flex;
  justify-content: space-between;
}

.miss-counter {
  margin-top: 10px;
}

.hit-number,
.miss-number {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
}

.hit-counter {
  color: green;
}
.miss-counter {
  color: red;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 97, 10);
  border: 1px solid #000;
  width: var(--cell-size);
  height: var(--cell-size);
}

.goblin {
  background-image: url("../img/goblin.png");
  background-repeat: no-repeat;
  cursor: url("../img/hammer92_113.png"), pointer;
}

img {
  display: block;
}
